android/google-play-service-account.json
android/key.properties

_Store
.atom/
.idea/
.vscode/

.packages
.pub/
.dart_tool/
pubspec.lock

Podfile
Podfile.lock
Pods/
.symlinks/
**/Flutter/App.framework/
**/Flutter/Flutter.framework/
**/Flutter/Generated.xcconfig
**/Flutter/flutter_assets/
ServiceDefinitions.json
xcuserdata/

local.properties
.gradle/
gradlew
gradlew.bat
gradle-wrapper.jar
*.iml

GeneratedPluginRegistrant.h
GeneratedPluginRegistrant.m
GeneratedPluginRegistrant.java
build/
.flutter-plugins
.idea/workspace.xml
.firebaserc
.firebase/
.firebase-debug.log
.DS_Store

core/lib/src/tmdb_config.dart
