.DS_Store
.atom/
.idea
.vscode/
.packages
.pub/
build/
ios/.generated/
packages
pubspec.lock
.flutter-plugins
lib/tmdb_config.dart
ios/Podfile.lock

android/google-play-service-account.json
android/key.properties